<div class="animated fadeIn"*ngIf="libro">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="row">
        <img src="{{libro.cover}}" style="padding-left: 15px;" onError="this.src = 'assets/img/not_found.jpg'">
        <div class="col-10">
          <strong>Title</strong>
          <p>{{libro.titolo}}</p>
          <div *ngIf="libro.autore">
            <strong>Author</strong>
            <p>{{libro.autore}}</p>
          </div>
          <div *ngIf="libro.editore">
            <strong>Publisher</strong>
            <p>{{libro.editore}}</p>
          </div>  
          <div>
            <strong>Current Page</strong>
            <input type="number" [(ngModel)]="libro.currentPage" name="currentPage" class="form-control col-2">
          </div>         
        </div>
      </div>      
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="mt-5">
        <tabset>
          <tab heading="Description" [innerHTML]="libro.descrizione || 'No Description Available'">            
          </tab>
          <tab heading="General Info">
            <div *ngIf="libro.categoria">
              <strong>Categories</strong>
              <p>{{libro.categoria}}</p>
            </div>
            <div *ngIf="libro.categoria">
              <strong>Total Pages</strong>
              <p>{{libro.totPagine}}</p>
            </div>
            <div *ngIf="libro.rating">
              <strong>Rating</strong>
              <p>{{libro.rating}} / 5</p>
            </div>
            <div *ngIf="libro.prezzo">
              <strong>Current Price</strong>
              <p>{{libro.prezzo}}€</p>
            </div>
            <div *ngIf="libro.dataPubblicazione">
              <strong>Published Date</strong>
              <p>{{libro.dataPubblicazione}}</p>
            </div>
            <div *ngIf="libro.lingua">
              <strong>Language</strong>
              <p>{{libro.lingua | uppercase}}</p>
            </div>
          </tab>          
        </tabset>
      </div>
    </div>
  </div>
  <div class="row mt-3 mb-5">
    <div class="btn-group col-8 offset-2" role="group">
      <button class="btn btn-primary ml-1 text-white" (click)="addTo(tableAction.READING)">
        <span *ngIf="!libro.isInLettura"><i class="fa fa-book text-white"></i> Add to Reading</span>
        <span *ngIf="libro.isInLettura">Change Current Page</span>
      </button>
      <button class="btn btn-success ml-1 text-white" [disabled]="libro.isWishlist" (click)="addTo(tableAction.WISHLIST)"><i class="fa fa-heart text-white"></i> Add to Wishlist</button>
      <button class="btn btn-warning ml-1 text-white" [disabled]="libro.isPreferito" (click)="addTo(tableAction.FAVOURITES)"><i class="fa fa-star text-white"></i> Add to Favourites</button>
      <button class="btn btn-dark ml-1 text-white" [disabled]="libro.isLetto" (click)="addTo(tableAction.READ)"><i class="fa fa-archive text-white"></i> Add to Read</button>
      <button class="btn btn-primary ml-1 text-white" (click)="openGooglePlay()"><i class="fa fa-google text-white"></i> Find on Google Play</button>
    </div>    
  </div>
</div>
<toaster-container [toasterconfig]="utils.getToasterConfig()"></toaster-container>