<div class="row">
  <div class="col-8 offset-2" *ngIf="queryResult">
    <books-table [tableTitle]="'Search Results'" [tablePage]="queryResult" [rowsOnPage]="ROWS_ON_PAGE_SEARCH" [showActions]="false"
    (onTableChange)="searchBooks($event)" (onItemClick)="openInfo($event)"></books-table>
  </div>
</div>

<toaster-container [toasterconfig]="utils.getToasterConfig()"></toaster-container>