<header class="app-header navbar">
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <form class="form-inline px-4" (ngSubmit)="cercaLibro()">   
      <i class="fa fa-search" (click)="searchQueryBar.focus()"></i>   
      <input class="form-control search-bar" type="text" [(ngModel)]="titoloQuery" name="titoloQuery" #searchQueryBar placeholder="Search...">      
    </form>
  </ul>
  <ul class="nav navbar-nav ml-auto mr-auto d-md-down-none">
    <li class="nav-item px-3"><a class="nav-link"  href="#/dashboard" [class.text-primary]="currentTab == DASHBOARD_TITLE" (click)="currentTab=DASHBOARD_TITLE">{{DASHBOARD_TITLE}}</a></li>
    <li class="nav-item px-3"><a class="nav-link" href="#/dashboard" [class.text-primary]="currentTab == FRIENDS_TITLE" (click)="currentTab=FRIENDS_TITLE">{{FRIENDS_TITLE}}</a></li>
    <li class="nav-item px-3"><a class="nav-link" href="#/dashboard" [class.text-primary]="currentTab == RECOMMENDED_TITLE" (click)="currentTab=RECOMMENDED_TITLE">{{RECOMMENDED_TITLE}}</a></li>
  </ul>
  <ul class="nav navbar-nav ml-auto mr-4">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <div data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
        <a class="nav-link nav-pill avatar" >
          <img src="assets/img/avatar.jpg" onError="this.src='assets/img/avatar.jpg'" class="img-avatar"/>
          <span class="badge badge-pill badge-danger">9</span>       
        </a>       
        <strong *ngIf="user">{{user.nome | titlecase}}</strong> 
      </div>
         
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <a class="dropdown-item"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item"><i class="fa fa-wrench"></i> Profile</a>
        <div class="divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</header>