<div class="row">
  <div class="col-8 offset-2" *ngIf="preferiti">
    <books-table [tableTitle]="'Favourites'" [tablePage]="preferiti" (onTableChange)="getPreferiti($event)" (onItemClick)="openInfo($event)" (onActionClickEvent)="onActionClick($event, tableAction.FAVOURITES)"></books-table>
  </div>
  <div class="col-8 offset-2" *ngIf="wishlist">
    <books-table [tableTitle]="'Wishlist'" [tablePage]="wishlist" (onTableChange)="getWishlist($event)" (onItemClick)="openInfo($event)" (onActionClickEvent)="onActionClick($event, tableAction.WISHLIST)"></books-table>
  </div>
  <div class="col-8 offset-2" *ngIf="letti">
    <books-table [tableTitle]="'Read'" [tablePage]="letti" (onTableChange)="getLetti($event)" (onItemClick)="openInfo($event)" (onActionClickEvent)="onActionClick($event, tableAction.READ)"></books-table>
  </div>
  <div class="col-8 offset-2" *ngIf="inLettura">
    <books-table [tableTitle]="'Reading'" [tablePage]="inLettura" (onTableChange)="getInLettura($event)" (onItemClick)="openInfo($event)" (onActionClickEvent)="onActionClick($event, tableAction.READING)"></books-table>
  </div>
</div>

<toaster-container [toasterconfig]="utils.getToasterConfig()"></toaster-container>