<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <!-- Form per il cambio della password -->
          <div class="card-body p-4" *ngIf="token">
            <h1>Change you Password</h1>
            <p class="text-muted">Create your account</p>
            <form [formGroup]="profileForm" (ngSubmit)="resetPassword()">  
              <fieldset class="form-group" formGroupName="passwords">
                <label>Password:</label>
                <div class="input-group" [class.has-danger]="true">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" id="password" class="form-control" [class.is-invalid]="profileForm.get('passwords').get('password').invalid && profileForm.get('passwords').get('password').touched" formControlName="password">
                </div>  
                <div>
                  <small *ngIf="profileForm.get('passwords').get('password').errors?.required && profileForm.get('passwords').touched" class="text-danger">Password is required</small>
                </div>    
                <div>
                  <small *ngIf="profileForm.get('passwords').get('password').errors?.minlength && profileForm.get('passwords').touched" class="text-danger">Password must contains at least 8 character</small>
                </div>                                          
              </fieldset>  
              <fieldset class="form-group" formGroupName="passwords">
                <label>Matching Password:</label>
                <div class="input-group" [class.has-danger]="true">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" id="matchingPassword" class="form-control" [class.is-invalid]="profileForm.get('passwords').invalid && profileForm.get('passwords').touched" formControlName="matchingPassword">
                </div>
                <div>
                  <small *ngIf="profileForm.get('passwords').get('matchingPassword').errors?.required && profileForm.get('passwords').touched" class="text-danger">Matching Password is required</small>
                </div>
                <div>
                  <small *ngIf="profileForm.get('passwords').errors?.matching && profileForm.get('passwords').touched" class="text-danger">Passwords must not be different</small>
                </div>                
              </fieldset>      
              <button class="btn btn-block btn-success" type="submit" [disabled]="!profileForm.valid">Change Password</button>     
            </form>
          </div>
          <!-- Fine Form Cambio password -->

          <!-- Form inserimento email per invio token -->
          <div class="card-body p-4" *ngIf="!token">
            <h1>Password Recovery</h1>
            <p class="text-muted">Insert you email here to start recovery procedure</p>
            <form (ngSubmit)="sendEmail()">  
              <fieldset class="form-group">
                <label>Email:</label>
                <div class="input-group" [class.has-danger]="true">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" [(ngModel)]="email" name="email" class="form-control">
                </div>                
              </fieldset>                      
              <button class="btn btn-block btn-success" type="submit" [disabled]="!email || email.length == 0">Send Email</button>     
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<toaster-container [toasterconfig]="utils.getToasterConfig()"></toaster-container>