<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <form [formGroup]="profileForm" (ngSubmit)="userRegistration()">  
              <fieldset class="form-group">
                <label>First Name:</label>
                <div class="input-group" [class.has-danger]="true">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" id="nome" class="form-control" [class.is-invalid]="profileForm.get('nome').invalid && profileForm.get('nome').touched" formControlName="nome">
                </div>
                <small *ngIf="profileForm.get('nome').errors?.required && profileForm.get('nome').touched" class="text-danger">First Name is required</small>
              </fieldset>
              <fieldset class="form-group">
                <label>Last Name:</label>
                <div class="input-group" [class.has-danger]="true">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" id="cognome" class="form-control" [class.is-invalid]="profileForm.get('cognome').invalid && profileForm.get('cognome').touched" formControlName="cognome">
                </div>
                <small *ngIf="profileForm.get('cognome').errors?.required && profileForm.get('cognome').touched" class="text-danger">Last Name is required</small>
              </fieldset>
              <fieldset class="form-group">
                <label>Username:</label>
                <div class="input-group" [class.has-danger]="true">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" id="username" class="form-control" [class.is-invalid]="profileForm.get('username').invalid && profileForm.get('username').touched" formControlName="username">
                </div>
                <small *ngIf="profileForm.get('username').errors?.required && profileForm.get('username').touched" class="text-danger">Username is required</small>                
                <small *ngIf="profileForm.get('username').errors?.usernameExists && profileForm.get('username').touched" class="text-danger">Username already in use</small>
              </fieldset>  
              <fieldset class="form-group">
                <label>Email:</label>
                <div class="input-group" [class.has-danger]="true">
                  <span class="input-group-addon"><i class="icon-envelope"></i></span>
                  <input type="text" id="email" class="form-control" [class.is-invalid]="profileForm.get('email').invalid && profileForm.get('email').touched" formControlName="email">
                </div>
                <div>
                  <small *ngIf="profileForm.get('email').errors?.required && profileForm.get('email').touched" class="text-danger">Email is required</small>
                </div>
                <div>
                  <small *ngIf="profileForm.get('email').errors?.emailExists && profileForm.get('email').touched" class="text-danger">Email already in use</small> 
                </div>
                <div>
                  <small *ngIf="profileForm.get('email').errors?.email && profileForm.get('email').touched" class="text-danger">Please provide a valid email address</small>
                </div>         	          
              </fieldset>  
              <fieldset class="form-group" formGroupName="passwords">
                <label>Password:</label>
                <div class="input-group" [class.has-danger]="true">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" id="password" class="form-control" [class.is-invalid]="profileForm.get('passwords').get('password').invalid && profileForm.get('passwords').get('password').touched" formControlName="password">
                </div>  
                <div>
                  <small *ngIf="profileForm.get('passwords').get('password').errors?.required && profileForm.get('passwords').touched" class="text-danger">Password is required</small>
                </div>    
                <div>
                  <small *ngIf="profileForm.get('passwords').get('password').errors?.minlength && profileForm.get('passwords').touched" class="text-danger">Password must contains at least 8 character</small>
                </div>                                          
              </fieldset>  
              <fieldset class="form-group" formGroupName="passwords">
                <label>Matching Password:</label>
                <div class="input-group" [class.has-danger]="true">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" id="matchingPassword" class="form-control" [class.is-invalid]="profileForm.get('passwords').invalid && profileForm.get('passwords').touched" formControlName="matchingPassword">
                </div>
                <div>
                  <small *ngIf="profileForm.get('passwords').get('matchingPassword').errors?.required && profileForm.get('passwords').touched" class="text-danger">Matching Password is required</small>
                </div>
                <div>
                  <small *ngIf="profileForm.get('passwords').errors?.matching && profileForm.get('passwords').touched" class="text-danger">Passwords must not be different</small>
                </div>                
              </fieldset>      
              <button class="btn btn-block btn-success" type="submit" [disabled]="!profileForm.valid">Create Account</button>     
            </form>
          </div>
          <!-- <div class="card-footer p-4">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
              </div>
              <div class="col-6">
                <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>


<toaster-container [toasterconfig]="utils.getToasterConfig()"></toaster-container>