<div class="card">
  <div class="card-header">
    <span class="font-weight-bold">{{tableTitle}}</span>
  </div>
  <div class="card-body">
    <div class="form-group">
      <table class="table table-responsive-sm table-hover" [mfDataLength]="tablePage.totalElements" [mfServerPagination]="true" 
             [mfData]="tablePage.elements" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" 
             (mfOnPageChange)="changePage($event)" (mfSortChange)="changeSort($event)" *ngIf="tablePage && tablePage.totalElements; else noBooksFound">
        <thead class="thead-light">
          <tr>
            <th  style="width: 50%"><mfDefaultSorter by="titolo">Title</mfDefaultSorter></th>
            <th  style="width: 20%"><mfDefaultSorter by="autore">Author</mfDefaultSorter></th>
            <th  style="width: 10%"><mfDefaultSorter by="totPagine">{{ tableTitle == 'Reading' ? 'Current/Total' : 'Page Total'}}</mfDefaultSorter></th> 
            <th  style="width: 20%" *ngIf="showActions">Actions</th>             
          </tr>
        </thead>
        <tbody>          
          <tr *ngFor="let libro of mf.data">
              <td (click)="onClick(libro)">
                <div class="row">
                  <div class="col-3" style="padding-right: 0px;"><img src="{{libro.cover}}" onError="this.src = 'assets/img/not_found.jpg'" width="80" height="110" ></div>
                  <div class="col-9 table-title">{{libro.titolo}}</div>
                </div>
              </td>
              <td (click)="onClick(libro)">{{libro.autore}}</td>
              <td (click)="onClick(libro)" *ngIf="tableTitle != 'Reading'">{{libro.totPagine}}</td>
              <td (click)="onClick(libro)" *ngIf="tableTitle == 'Reading'">{{libro.currentPage}}/{{libro.totPagine}}</td>
              <td *ngIf="showActions">
                <a class="btn btn-small btn-primary ml-1 action-btn" *ngIf="!libro.isInLettura" title="Add to Reading" (click)="onActionClick(tableAction.READING, libro)"><i class="fa fa-book text-white"></i></a>
                <a class="btn btn-small btn-success ml-1 action-btn" *ngIf="!libro.isWishlist" title="Add to Wishlist" (click)="onActionClick(tableAction.WISHLIST, libro)"><i class="fa fa-heart text-white"></i></a>
                <a class="btn btn-small btn-warning ml-1 action-btn" *ngIf="!libro.isPreferito" title="Add to Favourites" (click)="onActionClick(tableAction.FAVOURITES, libro)"><i class="fa fa-star text-white"></i></a>
                <a class="btn btn-small btn-dark ml-1 action-btn" *ngIf="!libro.isLetto" title="Add to Read" (click)="onActionClick(tableAction.READ, libro)"><i class="fa fa-archive text-white"></i></a>
                <a class="btn btn-small btn-danger ml-1 action-btn" title="Remove From {{tableTitle}}" (click)="onActionClick(tableAction.DELETE, libro)"><i class="fa fa-trash text-white"></i></a>
              </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12">
              <mfBootstrapPaginator [totalRows]="tablePage.totalElements"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
      <ng-template #noBooksFound>No books found</ng-template>
    </div>    
  </div>
</div>