<app-header></app-header>
<div class="app-body">
  <!-- <app-sidebar></app-sidebar><app-header></app-header> -->
  <!-- Main content -->
  <main class="main ml-0">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <!-- <app-breadcrumbs></app-breadcrumbs> -->
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
  <!-- <app-aside></app-aside> -->
</div>
<!-- <app-footer></app-footer> -->
